html {
  height: 100%;
}
body {
  background-color: black;
  margin: 0;
  min-height: 100%;
}

.star {
  fill: white;
}

.satellite {
  fill: #dbe6db;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

#land {
  fill: #306000;
}

#ocean {
  fill: #03104F;
}

.revolution {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  opacity: .1;
}


