body {
  background-color: #121212;
}
.star {
  fill: white;
}

.satellite {
  fill: gray;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}


#land {
  fill: #397628;
}

#ocean {
  fill: #1C6BA0;
}
